# Databases 2020-08-26

In [1]:
import sqlite3 as sql # import module

# make a connection to the database file
conn = sql.connect('population.db')

# create a cursor
cur = conn.cursor()

In [2]:
cur.execute('CREATE TABLE regionbypopulation(region TEXT, population INTEGER)')

In [3]:
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ("Central Africa", 330993))
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ("SouthEastern Africa", 743112))
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ("Japan", 100562))
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ('Northern Africa', 1037463))
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ('Southern Asia', 2051941))
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ('Asia Pacific', 785468))
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ('Middle East', 687630))
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ('Eastern Asia', 1362955))
conn.commit()
# conn.close()

In [4]:
cur.execute('SELECT region, population FROM regionbypopulation') # selecting columns from a table
cur.fetchone()

('Central Africa', 330993)

In [5]:
cur.fetchall() # fetchall all the entries in the database

[('SouthEastern Africa', 743112),
 ('Japan', 100562),
 ('Northern Africa', 1037463),
 ('Southern Asia', 2051941),
 ('Asia Pacific', 785468),
 ('Middle East', 687630),
 ('Eastern Asia', 1362955)]

In [8]:
# quering by region
cur.execute('SELECT region, population FROM regionbypopulation ORDER BY region')
cur.fetchall()

[('Asia Pacific', 785468),
 ('Central Africa', 330993),
 ('Eastern Asia', 1362955),
 ('Japan', 100562),
 ('Middle East', 687630),
 ('Northern Africa', 1037463),
 ('SouthEastern Africa', 743112),
 ('Southern Asia', 2051941)]

In [9]:
# quering by population
cur.execute('SELECT region, population FROM regionbypopulation ORDER BY population').fetchall()

[('Japan', 100562),
 ('Central Africa', 330993),
 ('Middle East', 687630),
 ('SouthEastern Africa', 743112),
 ('Asia Pacific', 785468),
 ('Northern Africa', 1037463),
 ('Eastern Asia', 1362955),
 ('Southern Asia', 2051941)]

In [15]:
# quering population in ascending order
cur.execute('SELECT region, population FROM regionbypopulation ORDER BY population ASC')
cur.fetchall()

[('Japan', 100562),
 ('Central Africa', 330993),
 ('Middle East', 687630),
 ('SouthEastern Africa', 743112),
 ('Asia Pacific', 785468),
 ('Northern Africa', 1037463),
 ('Eastern Asia', 1362955),
 ('Southern Asia', 2051941)]

In [16]:
# quering population in descending order
cur.execute('SELECT region, population FROM regionbypopulation ORDER BY population DESC')
cur.fetchall()

[('Southern Asia', 2051941),
 ('Eastern Asia', 1362955),
 ('Northern Africa', 1037463),
 ('Asia Pacific', 785468),
 ('SouthEastern Africa', 743112),
 ('Middle East', 687630),
 ('Central Africa', 330993),
 ('Japan', 100562)]

In [19]:
cur.execute('SELECT * FROM regionbypopulation') # quering all columns
cur.fetchall()

[('Central Africa', 330993),
 ('SouthEastern Africa', 743112),
 ('Japan', 100562),
 ('Northern Africa', 1037463),
 ('Southern Asia', 2051941),
 ('Asia Pacific', 785468),
 ('Middle East', 687630),
 ('Eastern Asia', 1362955)]

In [20]:
cur.execute('SELECT region FROM regionbypopulation') # get only a column
cur.fetchall()

[('Central Africa',),
 ('SouthEastern Africa',),
 ('Japan',),
 ('Northern Africa',),
 ('Southern Asia',),
 ('Asia Pacific',),
 ('Middle East',),
 ('Eastern Asia',)]

In [28]:
cur.execute('SELECT region FROM regionbypopulation WHERE population > 1000000')
cur.fetchall()

[('Northern Africa',), ('Southern Asia',), ('Eastern Asia',)]