# Databases 2020-08-26

## Creating a database

In [1]:
import sqlite3 as sql # import module

# make a connection to the database file
conn = sql.connect('population.db')

# create a cursor
cur = conn.cursor()

In [2]:
cur.execute('CREATE TABLE regionbypopulation(region TEXT, population INTEGER)')

In [3]:
# inserting values into a table
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ("Central Africa", 330993))
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ("SouthEastern Africa", 743112))
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ("Japan", 100562))
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ('Northern Africa', 1037463))
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ('Southern Asia', 2051941))
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ('Asia Pacific', 785468))
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ('Middle East', 687630))
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ('Eastern Asia', 1362955))
# commiting changes in a database
conn.commit()
# closing the database connection
# conn.close()

In [4]:
cur.execute('SELECT region, population FROM regionbypopulation') # selecting columns from a table
cur.fetchone()

('Central Africa', 330993)

In [5]:
cur.fetchall() # fetchall all the entries in the database

[('SouthEastern Africa', 743112),
 ('Japan', 100562),
 ('Northern Africa', 1037463),
 ('Southern Asia', 2051941),
 ('Asia Pacific', 785468),
 ('Middle East', 687630),
 ('Eastern Asia', 1362955)]

In [6]:
# quering by region
cur.execute('SELECT region, population FROM regionbypopulation ORDER BY region')
cur.fetchall()

[('Asia Pacific', 785468),
 ('Central Africa', 330993),
 ('Eastern Asia', 1362955),
 ('Japan', 100562),
 ('Middle East', 687630),
 ('Northern Africa', 1037463),
 ('SouthEastern Africa', 743112),
 ('Southern Asia', 2051941)]

In [7]:
# quering by population
cur.execute('SELECT region, population FROM regionbypopulation ORDER BY population').fetchall()

[('Japan', 100562),
 ('Central Africa', 330993),
 ('Middle East', 687630),
 ('SouthEastern Africa', 743112),
 ('Asia Pacific', 785468),
 ('Northern Africa', 1037463),
 ('Eastern Asia', 1362955),
 ('Southern Asia', 2051941)]

In [8]:
# quering population in ascending order
cur.execute('SELECT region, population FROM regionbypopulation ORDER BY population ASC')
cur.fetchall()

[('Japan', 100562),
 ('Central Africa', 330993),
 ('Middle East', 687630),
 ('SouthEastern Africa', 743112),
 ('Asia Pacific', 785468),
 ('Northern Africa', 1037463),
 ('Eastern Asia', 1362955),
 ('Southern Asia', 2051941)]

In [9]:
# quering population in descending order
cur.execute('SELECT region, population FROM regionbypopulation ORDER BY population DESC')
cur.fetchall()

[('Southern Asia', 2051941),
 ('Eastern Asia', 1362955),
 ('Northern Africa', 1037463),
 ('Asia Pacific', 785468),
 ('SouthEastern Africa', 743112),
 ('Middle East', 687630),
 ('Central Africa', 330993),
 ('Japan', 100562)]

In [10]:
cur.execute('SELECT * FROM regionbypopulation') # quering all columns
cur.fetchall()

[('Central Africa', 330993),
 ('SouthEastern Africa', 743112),
 ('Japan', 100562),
 ('Northern Africa', 1037463),
 ('Southern Asia', 2051941),
 ('Asia Pacific', 785468),
 ('Middle East', 687630),
 ('Eastern Asia', 1362955)]

In [11]:
cur.execute('SELECT region FROM regionbypopulation') # get only a column
cur.fetchall()

[('Central Africa',),
 ('SouthEastern Africa',),
 ('Japan',),
 ('Northern Africa',),
 ('Southern Asia',),
 ('Asia Pacific',),
 ('Middle East',),
 ('Eastern Asia',)]

In [12]:
cur.execute('SELECT region FROM regionbypopulation WHERE population > 1000000')
cur.fetchall()

[('Northern Africa',), ('Southern Asia',), ('Eastern Asia',)]

In [13]:
cur.execute('SELECT * FROM regionbypopulation WHERE region = "Japan"')
cur.fetchone()

('Japan', 100562)

In [14]:
cur.execute('UPDATE regionbypopulation SET population = 100600 WHERE region ="Japan" ')

In [15]:
cur.execute('SELECT * FROM regionbypopulation WHERE region ="Japan" ').fetchone()

('Japan', 100600)

In [16]:
cur.execute('DELETE FROM regionbypopulation WHERE region="Japan"')
cur.execute('SELECT * FROM regionbypopulation')
cur.fetchall()

[('Central Africa', 330993),
 ('SouthEastern Africa', 743112),
 ('Northern Africa', 1037463),
 ('Southern Asia', 2051941),
 ('Asia Pacific', 785468),
 ('Middle East', 687630),
 ('Eastern Asia', 1362955)]

In [17]:
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ('Japan', 100600))

In [18]:
cur.execute('SELECT * FROM regionbypopulation WHERE region="Japan"').fetchone()

('Japan', 100600)

In [19]:
cur.execute('INSERT INTO regionbypopulation VALUES (?, ?)', ('Mars', 'NULL'))

In [20]:
cur.execute('SELECT * FROM regionbypopulation').fetchall()

[('Central Africa', 330993),
 ('SouthEastern Africa', 743112),
 ('Northern Africa', 1037463),
 ('Southern Asia', 2051941),
 ('Asia Pacific', 785468),
 ('Middle East', 687630),
 ('Eastern Asia', 1362955),
 ('Japan', 100600),
 ('Mars', 'NULL')]

## Combining Tables with Join

In [21]:
cur.execute('CREATE TABLE popbycountry(region TEXT, country TEXT, population INTEGER)')

In [22]:
cur.execute('INSERT INTO popbycountry VALUES (?, ?, ?)', ('Eastern Asia', 'China', 1285238))

In [23]:
countries = [("Eastern Asia", "DPR Korea", 24056), ("Eastern Asia","Hong Kong (China)", 8764),
             ("Eastern Asia", "Mongolia", 3407), ("EasternAsia", "Republic of Korea", 41491),
             ("Eastern Asia", "Taiwan", 1433),("North America", "Bahamas", 368),
             ("North America", "Canada", 40876), ("North America", "Greenland", 43), 
             ("North America", "Mexico", 126875),("North America", "United States", 493038)
            ]

for c in countries:
    cur.execute('INSERT INTO popbycountry VALUES (?, ?, ?)', (c[0], c[1], c[2]))

In [24]:
conn.commit()

In [25]:
cur.execute('SELECT * FROM popbycountry').fetchall()

[('Eastern Asia', 'China', 1285238),
 ('Eastern Asia', 'DPR Korea', 24056),
 ('Eastern Asia', 'Hong Kong (China)', 8764),
 ('Eastern Asia', 'Mongolia', 3407),
 ('EasternAsia', 'Republic of Korea', 41491),
 ('Eastern Asia', 'Taiwan', 1433),
 ('North America', 'Bahamas', 368),
 ('North America', 'Canada', 40876),
 ('North America', 'Greenland', 43),
 ('North America', 'Mexico', 126875),
 ('North America', 'United States', 493038)]

In [26]:
cur.execute('''SELECT regionbypopulation.region, popbycountry.country
FROM regionbypopulation INNER JOIN popbycountry
WHERE (regionbypopulation.region = popbycountry.region)
AND (regionbypopulation.population > 1000000)''')

In [27]:
cur.fetchall()

[('Eastern Asia', 'China'),
 ('Eastern Asia', 'DPR Korea'),
 ('Eastern Asia', 'Hong Kong (China)'),
 ('Eastern Asia', 'Mongolia'),
 ('Eastern Asia', 'Taiwan')]

In [28]:
# create a tab;e with a unique identifies
# cur.execute('CREATE TABLE tables (region TEXT, population INTEGER, PRIMARY KEY(region))')

## Aggregation

In [29]:
cur.execute('SELECT SUM(population) FROM popbycountry').fetchone()

(2025589,)

In [30]:
cur.execute('SELECT SUM(population) FROM regionbypopulation').fetchone()

(7100162.0,)

In [31]:
cur.execute('SELECT AVG(population) FROM regionbypopulation').fetchone()

(788906.8888888889,)

In [32]:
cur.execute('SELECT MIN(population) FROM popbycountry').fetchone()

(43,)

In [33]:
cur.execute('SELECT MAX(population) FROM regionbypopulation').fetchone()

('NULL',)

In [34]:
cur.execute('SELECT COUNT(population) FROM popbycountry')
cur.fetchone()

(11,)

In [35]:
cur.execute('SELECT SUM(population) / COUNT(population) FROM regionbypopulation')
cur.fetchone()

(788906.8888888889,)

In [36]:
cur.execute('SELECT region, SUM(population) FROM popbycountry GROUP BY region')
cur.fetchall()

[('Eastern Asia', 1322898), ('EasternAsia', 41491), ('North America', 661200)]

In [37]:
conn.close()

## Exercises

In [38]:
# Exercise 1

con = sql.connect('census.db')
cur = con.cursor()

In [39]:
cur.execute('CREATE TABLE density (province TEXT, population INTEGER, land_area REAL )')

In [40]:
data = [('Newfoundland and Labrador', 512930, 370501.69),
('Prince Edward Island', 135294,  5684.39), 
('Nova Scotia', 908007, 52917.43),
('New Brunswick', 729498, 71355.67),
('Quebec', 7237479, 1357743.08),
('Ontario', 11410046, 907655.59),
('Manitoba', 1119583, 551937.87),
('Saskatchewan', 978933, 586561.35),
('Alberta', 2974807, 639987.12),
('British Columbia', 3907738, 926492.48),
('Yukon Territory', 28674, 474706.97),
('Northwest Territories', 37360, 1141108.37),
('Nunavut', 26745, 1925460.18),]

In [41]:
for item in data:
    cur.execute('INSERT INTO density VALUES (?, ?, ?)', (item[0], item[1], item[2]))
con.commit()

In [42]:
cur.execute('SELECT * FROM density')
cur.fetchall()

[('Newfoundland and Labrador', 512930, 370501.69),
 ('Prince Edward Island', 135294, 5684.39),
 ('Nova Scotia', 908007, 52917.43),
 ('New Brunswick', 729498, 71355.67),
 ('Quebec', 7237479, 1357743.08),
 ('Ontario', 11410046, 907655.59),
 ('Manitoba', 1119583, 551937.87),
 ('Saskatchewan', 978933, 586561.35),
 ('Alberta', 2974807, 639987.12),
 ('British Columbia', 3907738, 926492.48),
 ('Yukon Territory', 28674, 474706.97),
 ('Northwest Territories', 37360, 1141108.37),
 ('Nunavut', 26745, 1925460.18)]

In [43]:
cur.execute("SELECT population FROM density")
cur.fetchall()

[(512930,),
 (135294,),
 (908007,),
 (729498,),
 (7237479,),
 (11410046,),
 (1119583,),
 (978933,),
 (2974807,),
 (3907738,),
 (28674,),
 (37360,),
 (26745,)]

In [44]:
cur.execute('SELECT province FROM density WHERE population < 1000000')
cur.fetchall()

[('Newfoundland and Labrador',),
 ('Prince Edward Island',),
 ('Nova Scotia',),
 ('New Brunswick',),
 ('Saskatchewan',),
 ('Yukon Territory',),
 ('Northwest Territories',),
 ('Nunavut',)]

In [45]:
cur.execute('SELECT province FROM density WHERE (population < 1000000) OR (population > 5000000)')
cur.fetchall()

[('Newfoundland and Labrador',),
 ('Prince Edward Island',),
 ('Nova Scotia',),
 ('New Brunswick',),
 ('Quebec',),
 ('Ontario',),
 ('Saskatchewan',),
 ('Yukon Territory',),
 ('Northwest Territories',),
 ('Nunavut',)]

In [46]:
cur.execute('SELECT province FROM density WHERE (population > 1000000) OR (population < 5000000)')
cur.fetchall()

[('Newfoundland and Labrador',),
 ('Prince Edward Island',),
 ('Nova Scotia',),
 ('New Brunswick',),
 ('Quebec',),
 ('Ontario',),
 ('Manitoba',),
 ('Saskatchewan',),
 ('Alberta',),
 ('British Columbia',),
 ('Yukon Territory',),
 ('Northwest Territories',),
 ('Nunavut',)]

In [47]:
cur.execute('SELECT province FROM density WHERE population > 200000').fetchall()

[('Newfoundland and Labrador',),
 ('Nova Scotia',),
 ('New Brunswick',),
 ('Quebec',),
 ('Ontario',),
 ('Manitoba',),
 ('Saskatchewan',),
 ('Alberta',),
 ('British Columbia',)]

In [48]:
cur.execute('SELECT province, population/land_area FROM density')
cur.fetchall()

[('Newfoundland and Labrador', 1.384420135843375),
 ('Prince Edward Island', 23.8009707286094),
 ('Nova Scotia', 17.15893988048928),
 ('New Brunswick', 10.223406212848959),
 ('Quebec', 5.330521736115201),
 ('Ontario', 12.570898175154742),
 ('Manitoba', 2.0284583842743027),
 ('Saskatchewan', 1.6689353978062142),
 ('Alberta', 4.648229483118348),
 ('British Columbia', 4.217776273802028),
 ('Yukon Territory', 0.060403579075318826),
 ('Northwest Territories', 0.03274009812056676),
 ('Nunavut', 0.013890185981410428)]

## Exercise 2

In [49]:
cur.execute("CREATE TABLE capitals (province TEXT, capital TEXT, population INTEGER)")

In [50]:
capitals = [('Newfoundland and Labrador', 'St. John’s', 172918), 
 ('Prince Edward Island',  'Charlottetown', 58358),
 ('Nova Scotia',  'Halifax', 359183),
 ('New Brunswick',  'Fredericton',81346 ),
 ('Quebec', 'Quebec City', 682757),
 ('Ontario', 'Toronto', 4682897),
 ('Manitoba', 'Winnipeg', 671274), 
 ('Saskatchewan', 'Regina', 192800),
 ('Alberta', 'Edmonton', 937845),
 ('British Columbia', 'Victoria', 311902),
 ('Yukon Territory', 'Whitehorse', 21405), 
 ('Northwest', 'Territories Yellowknife', 16541), 
 ('Nunavut', 'Iqaluit', 5236),
 
]

In [51]:
for item in capitals:
    cur.execute('INSERT INTO capitals VALUES (?, ?, ?)', (item[0], item[1], item[2]))
    con.commit()

In [52]:
cur.execute('SELECT * FROM capitals').fetchall()

[('Newfoundland and Labrador', 'St. John’s', 172918),
 ('Prince Edward Island', 'Charlottetown', 58358),
 ('Nova Scotia', 'Halifax', 359183),
 ('New Brunswick', 'Fredericton', 81346),
 ('Quebec', 'Quebec City', 682757),
 ('Ontario', 'Toronto', 4682897),
 ('Manitoba', 'Winnipeg', 671274),
 ('Saskatchewan', 'Regina', 192800),
 ('Alberta', 'Edmonton', 937845),
 ('British Columbia', 'Victoria', 311902),
 ('Yukon Territory', 'Whitehorse', 21405),
 ('Northwest', 'Territories Yellowknife', 16541),
 ('Nunavut', 'Iqaluit', 5236)]

In [70]:
cur.execute('''SELECT density.population, capitals.population 
FROM capitals INNER JOIN density
WHERE (capitals.province = density.province)
''')
cur.fetchall()

[(512930, 172918),
 (135294, 58358),
 (908007, 359183),
 (729498, 81346),
 (7237479, 682757),
 (11410046, 4682897),
 (1119583, 671274),
 (978933, 192800),
 (2974807, 937845),
 (3907738, 311902),
 (28674, 21405),
 (26745, 5236)]

In [89]:
cur.execute('''SELECT DISTINCT density.land_area
FROM density INNER JOIN capitals
WHERE (capitals.population > 100000)
''')
cur.fetchall()

[(370501.69,),
 (5684.39,),
 (52917.43,),
 (71355.67,),
 (1357743.08,),
 (907655.59,),
 (551937.87,),
 (586561.35,),
 (639987.12,),
 (926492.48,),
 (474706.97,),
 (1141108.37,),
 (1925460.18,)]

In [90]:
cur.execute('SELECT SUM(land_area) FROM density').fetchall()

[(9012112.19,)]

In [92]:
cur.execute('SELECT AVG(population) FROM capitals').fetchone()

(630343.2307692308,)

In [93]:
cur.execute('SELECT MIN(population) FROM capitals').fetchone()

(5236,)

In [94]:
cur.execute('SELECT MAX(population) FROM density').fetchone()

(11410046,)

In [96]:
# exercise 3
cur.execute('CREATE TABLE Numbers (Val INTEGER)')

In [99]:
cur.execute('INSERT INTO Numbers VALUES (1)')
cur.execute('INSERT INTO Numbers VALUES (2)')
con.commit()

In [101]:
cur.execute('SELECT * FROM Numbers WHERE Val > 0 AND 1/0').fetchall()

[]