# Working with Text

In [1]:
'Aristotle'

'Aristotle'

In [2]:
"Isaac Newton"

'Isaac Newton'

In [3]:
len('Albert Einstein')

15

In [4]:
len('123!')

4

In [5]:
len(' ')

1

In [6]:
len('')

0

In [7]:
'Albert' + ' Einstein'

'Albert Einstein'

In [8]:
'Four scores and ' + str(7) + ' years ago'

'Four scores and 7 years ago'

In [9]:
'AT' * 5

'ATATATATAT'

In [10]:
print('one\ttwo\nthree\tfour')

one	two
three	four

In [11]:
numbers = '''one
two
three
'''
print(numbers)

one
two
three

In [12]:
print(1, 2, 3)

1 2 3

In [13]:
print('a', 'b', 'c', sep=',', end='')

a,b,c

In [14]:
def convert_to_celsius(fehrenhait:float)->float:
    '''Converts a given temperature in fehrenhait to celsius
    
    >>> convert_to_celsius(75)
    23.8888888889
    '''
    return (fehrenhait - 32.0) * 5.0 / 9.0

print('80, 78.8, and 10.4 degrees Fahrenheit are equal to ', end='')
print(convert_to_celsius(80), end=', \n')
print(convert_to_celsius(78.8), end=', and ')
print(convert_to_celsius(10.4), end=' Celsius.\n')

80, 78.8, and 10.4 degrees Fahrenheit are equal to 26.666666666666668,
26.0, and -12.0 Celsius.

In [15]:
species = input()

lfjfj

In [16]:
species

'lfjfj'

In [17]:
population = input()
population

jsjdjds

'jsjdjds'

In [18]:
type(population)

str

## Exercises

In [19]:
'computer'+' science'

'computer science'

In [20]:
'Darwin\'s'

"Darwin's"

In [21]:
"They'll herbanate during the winter"

"They'll herbanate during the winter"

In [22]:
'"Absolutely not" he said'

'"Absolutely not" he said'

In [29]:
'left\right'

'left\right'

In [30]:
def repeat(s:str, n:int)->str:
    return s * n
repeat('no', 4)

'nononono'