## Collection Data Types

## Tuple

In [1]:
hairs = 'black', 'brown', 'blonde', 'red'
hairs[2]

'blonde'

In [2]:
hairs[-3:]

('brown', 'blonde', 'red')

In [3]:
hairs[:2], 'grey', hairs[2:]

(('black', 'brown'), 'grey', ('blonde', 'red'))

In [6]:
hairs[:2] + ('grey',) + hairs[2:]

('black', 'brown', 'grey', 'blonde', 'red')

In [8]:
eyes = ("brown", "hazel", "amber", "green", "blue", "gray")
colors = (hairs,eyes)
colors[1][3:-1]

('green', 'blue')

In [13]:
things = (1, -7.5, ("pea", (5, "Xyz"), "queue"))
things[2][1][1][2]

'z'

In [16]:
import math
for x, y in ((-3, 4), (5, 12), (28, -45)):
    print(math.hypot(x, y))

5.0
13.0
53.0

## NamedTuple

In [18]:
from collections import namedtuple
Sale = namedtuple('Sale', 'productid customerid date quantity price')

In [22]:
sales = []
sales.append(Sale(432, 921, "2008-09-14", 3, 7.99))
sales.append(Sale(419, 874, "2008-09-15", 1, 18.49))

In [23]:
sales

[Sale(productid=432, customerid=921, date='2008-09-14', quantity=3, price=7.99),
 Sale(productid=419, customerid=874, date='2008-09-15', quantity=1, price=18.49)]

In [26]:
total = 0
for sale in sales:
    total += sale.quantity * sale.price
print(f'Total {round(total, 3)}')

Total 42.46

In [45]:
Aircraft = namedtuple('Aircraft', 'manufacturer model seating')
Seating = namedtuple('Seating', 'minimum maximum')
aircraft = Aircraft('Airbus', "A320-200", Seating(100, 220))
aircraft.seating.maximum

220

In [35]:
print(aircraft._asdict())

OrderedDict([('manufacturer', 'Airbus'), ('model', 'A320-200'), ('seating', Seating(minimum=100, maximum=220))])

In [55]:
Person = namedtuple('Person', 'name shoe_size gender')
Gender = namedtuple('Gender', 'male female')
Shoe = namedtuple('Shoe', 'small medium large')

In [73]:
male1 = Person('Okoro', 'small', 'male')
male1

Person(name='Okoro', shoe_size='small', gender='male')

## List

In [74]:
list()

[]

In [80]:
list('abcd')

['a', 'b', 'c', 'd']

In [81]:
L = [-17.5, "kilo", 49, "V", ["ram", 5, "echo"], 7]

In [83]:
L[0]

-17.5

In [89]:
L[-2][-1]

'echo'

In [91]:
first, *last = [9, 2, -4, 8, 7]
first, last

(9, [2, -4, 8, 7])

In [95]:
first, *mid, last = "Charles Philip Arthur George Windsor".split()
first, last

('Charles', 'Windsor')

In [96]:
mid

['Philip', 'Arthur', 'George']

In [100]:
*directories, executables = "/usr/local/bin/gvim".split('/')
directories, executables

(['', 'usr', 'local', 'bin'], 'gvim')

In [101]:
def product(a, b, c):
    print(a, b, c)
    return a * b * c
product(2, 3, 5)

2 3 5

30

In [103]:
L = [2, 3, 5]
product(*L)

2 3 5

30

In [104]:
trees = ['cedar', 'yew', 'larch']
trees += ['kauri', 'larch']
trees

['cedar', 'yew', 'larch', 'kauri', 'larch']

In [106]:
leaps = []
for year in range(1900, 1940):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        leaps.append(year)
leaps

[1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936]